{% extends "index.html" %}

{% block content %}
<a href="/championships/add"> <b>+ Добавить чемпионат </b></a>
<table class="simple-little-table" cellspacing='0'>
	<tr>
		<th>ID </th>
		<th>Название</th>
		<th>Дата начала</th>
		<th>Дата окончания</th>
	</tr><!-- Table Header -->
	{% for elem in elements.chempionships %}
		
 
	<tr>
		<td>{{elem.id}}</td>
		<td>{{elem.name}}</td>
		<td>{{elem.start_date}}</td>
		<td>{{elem.end_date}}</td>
		{% endfor %}
	</tr><!-- Table Row -->

</table>
{% endblock %}