<div class="wrap"><ul class="nav nav-list bs-docs-sidenav affix">
  <li class="menu_item"><a class="menu_link" href="/cityes">Города</a></li>
  <li class="menu_item"><a class="menu_link" href="/teams">Команды</a></li>
  <li class="menu_item"><a class="menu_link" href="/stadions">Стадины</a></li>
</ul> 

<ul class="nav nav-list bs-docs-sidenav affix">
  <li class="menu_item"><a class="menu_link" href="/matches">Матчи</a></li>
  <li class="menu_item"><a class="menu_link" href="/championships">Чемпионаты</a></li>
  <li class="menu_item"><a class="menu_link" href="/players">Игроки</a></li>
  </ul>
  </div>