{% extends "index.html" %}

{% block content %}
<a href="/matches/add"> <b>+ Добавить матч </b></a>
<table class="simple-little-table" cellspacing='0'>
	<tr>
		{% if user.username == 'admin' %}<th>ID </th>{%endif%}
		<th>Чемпионат</th>
		<th> Хозяева</th>
		<th> Счёт </th>
		<th> Гости </th>
		<th> Стадион </th>
		<th> Дата </th>
		{% if user.username == 'admin' %}<th> </th> {%endif%}
	</tr><!-- Table Header -->
	{% for elem in elements.matches %}
		
 
	<tr>
		{% if user.username == 'admin' %}<td>{{elem.id}}</td>{%endif%}
		<td>{{elem.league.name}}</td>
		<td>{% if elem.home_goals > elem.away_goals %}<b>{% endif %}{{elem.home.name}}{% if elem.home_goals > elem.away_goals %}</b>{% endif %}</td>
		<td>{{elem.home_goals}}:{{elem.away_goals}}</td>
		<td>{% if elem.home_goals > elem.away_goals %}<b>{% endif %}{{elem.away.name}}{% if elem.home_goals > elem.away_goals %}</b>{% endif %}</td>
		<td>{{elem.stadion.name}}</td>
		<td>{{elem.date}}</td>
		{% if user.username == 'admin' %}<td> <a href="{{elem.id}}/edit">Изменить</a></td> {%endif%}
		{% if user.username == 'admin' %}<td> <a href="{{elem.id}}/delete">Удалить</a></td> {%endif%}
	</tr><!-- Table Row -->

	{% endfor %}
	</table>
{% endblock %}