{% extends "index.html" %}

{% block content %}
<table class="simple-little-table" cellspacing='0'>
	<tr>
		<th>ID </th>
		<th>Имя</th>
		<th>Фамилия</th>
		<th>Игровая позиция</th>
		<th>День рождения</th>
		<th>Зарплата</th>
	</tr><!-- Table Header -->
	{% for elem in elements.players %}
		
 
	<tr>
		<td>{{elem.id}}</td>
		<td>{{elem.first_name}}</td>
		<td>{{elem.last_name}}</td>
		<td>{{elem.position}}</td>
		<td>{{elem.birth_day}}</td>
		<td>{{elem.salary}}</td>
	</tr><!-- Table Row -->
	{% endfor %}
</table>
{% endblock %}