{% extends "index.html" %}

{% block content %}
<a href="/players/add"> <b>+ Добавить игрока </b></a>
<table class="simple-little-table" cellspacing='0'>
	<tr>
		{% if user.username == 'admin' %}<th>ID </th>{% endif %}
		<th>Имя</th>
		<th>Фамилия</th>
		<th>Игровая позиция</th>
		<th>День рождения</th>
		<th>Зарплата</th>
		{% if user.username == 'admin' %}<th> </th> {%endif%}
	</tr><!-- Table Header -->
	{% for elem in elements.players %}
		
 
	<tr>
		{% if user.username == 'admin' %}<td>{{elem.id}}</td>{% endif %}
		<td>{{elem.first_name}}</td>
		<td>{{elem.last_name}}</td>
		<td>{{elem.position}}</td>
		<td>{{elem.birth_day}}</td>
		<td>{{elem.salary}}</td>
		{% if user.username == 'admin' %}<td> <a href="{{elem.id}}/edit">Изменить</a></td> {%endif%}
	</tr><!-- Table Row -->
	{% endfor %}
</table>
{% endblock %}