{% extends "index.html" %}

{% block content %}
<a href="/teams/add"> <b>+ Добавить команду </b></a>
<table class="simple-little-table" cellspacing='0'>
	<tr>
		<th>ID </th>
		<th> Название</th>
		<th>Город</th>
		<th>Дата основания</th>
		<th>Бюджет</th>
	</tr><!-- Table Header -->
	{% for elem in elements.teams %}
		
 
	<tr>
		<td>{{elem.id}}</td>
		<td>{{elem.name}}</td>
		<td>{{elem.city}}</td>
		<td>{{elem.making}}</td>
		<td>{{elem.budget}}</td>
	</tr><!-- Table Row -->
	{% endfor %}
</table>
{% endblock %}