{% extends "index.html" %}

{% block content %}
<a href="/teams/add"> <b>+ Добавить команду </b></a>
<table class="simple-little-table" cellspacing='0'>
	<tr>
		{% if user.username == 'admin' %}<th>ID </th>{%endif%}
		<th> Название</th>
		<th>Город</th>
		<th>Дата основания</th>
		<th>Бюджет</th>
		{% if user.username == 'admin' %}<th> </th> {%endif%}
	</tr><!-- Table Header -->
	{% for elem in elements.teams %}
		
 
	<tr>
		{% if user.username == 'admin' %}<td>{{elem.id}}</td>{%endif%}
		<td>{{elem.name}}</td>
		<td>{{elem.city}}</td>
		<td>{{elem.making}}</td>
		<td>{{elem.budget}}</td>
		{% if user.username == 'admin' %}<td> <a href="{{elem.id}}/edit">Изменить</a></td> {%endif%}
	</tr><!-- Table Row -->
	{% endfor %}
</table>
{% endblock %}