{% load staticfiles %}
<head>
	<meta http-equiv="Content-language" content="ru-RU">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" media="all" href="{% static 'main.css' %}" type="text/css">
    <title>База данных - футбол</title>
</head>

<body>
	<div id="top_menu">
        {% include "top_menu.html" %}
	</div>
    <div id="left_menu">
    	{% include "left_menu.html" %}
    </div>
    <div id="content">
       {% block content %}
       {% endblock %}
    </div>
</body>